pkgbase = par2cmdline
	pkgdesc = A PAR 2.0 compatible file verification and repair tool
	pkgver = 0.6.9
	pkgrel = 1
	url = https://github.com/BlackIkeEagle/par2cmdline
	arch = i686
	arch = x86_64
	license = GPL2
	source = par2cmdline-0.6.9.tar.gz::https://github.com/BlackIkeEagle/par2cmdline/archive/v0.6.9.tar.gz
	sha256sums = fd917e0a10f28e10cc50db4a742cc85da34b8fffa5a71182f317dfa60643ab9d

pkgname = par2cmdline

